.carousel-container {
  overflow: hidden;
  max-width: 600px;
}

.carousel {
  white-space: nowrap;
  transition: transform 0.3s;
}

.carousel-card {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  background-color: #ff4785;
  color: #fff;
}

.carousel-dot {
  border: 0;
  border-radius: 50%;
  margin: 10px 8px;
  background: #adb4c6;
  height: 2px;
  width: 2px;
  padding: 5px;
  cursor: pointer;
}

.indicators {
  display: flex;
  justify-content: center;
}

.indicators > button {
  margin: 5px;
}

.indicators > button.active {
  background-color: #ff4785;
  color: #fff;
}
